:root {
  --primary-color: #1fc29d;
  --secondary-color: #178f73;
  --primary-dark-color: #1e423a;
  --primary-light-color: #5eccb2;
  --background-color: #ebf7f6;
  --color-title: #00224f;
  --color-title-hover: #178f73;
  --color-button: #39cabb;
  --color-button-hover: #178f73;
  --primary-color-border: #e5eded;
  --color-border: #ccc;
  --color-text: #808080;
  --color-title-box: #053c3cc9;
  --color-outline: #186fc6;
  --font-size-title: 16px;
  --font-size-text: 14px;
  --line-height-text: 18px;
  --color-text-error: #d32f2f;
}

* {
  font-family: 'Poppins', sans-serif;
}
