.button__customize {
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 34px;
  /* padding: 16px 40px; */
  padding: 6px 15px;
  font-size: var(--font-size-title);
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0px 4px 9px 2px #d5edea;
  transition: all 700ms ease;
  text-transform: capitalize;
}

.button__customize:hover {
  background: var(--color-button-hover);
}

.button__customize .icon__btn {
  margin-right: 5px;
  display: inherit;
}
