.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  height: 75px;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10;
  width: 100vw;
  box-shadow: 0px 0px 2px 1px #d5edea;
}

.header__container .header__box--logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__container .header__img--logo {
  width: 50px;
  height: 45px;
}

.header__container .header__title--slogan {
  font-size: 20px;
  color: var(--color-title);
  font-weight: 700;
  margin-left: 10px;
}

.header__container .header__nav__container {
  display: flex;
}

.header__container .header__nav__avatar {
  display: flex;
  align-items: center;
}

.header__nav__container .nav__item {
  margin-right: 34px;
}

.header__nav__container .nav__item .nav__link {
  color: var(--color-title);
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

.header__nav__container .nav__item .nav__link:hover {
  color: var(--primary-color);
}

.header__nav__container .nav__item .nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  top: 26px;
  display: block;
  transition: all 0.3s linear;
}

.header__nav__container .nav__item .nav__link:hover::after {
  width: 100%;
}

.header__nav__container .nav__item .nav__link.active {
  color: var(--primary-color);
}

.header__nav__container .nav__item .active.nav__link::after {
  width: 100%;
}

.header__nav__avatar .header__account .img__patient {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.menu__account .header__menu-item {
  display: flex;
  align-items: center;
  padding: 6px 16px;
}

.menu__account .header__menu-item .infor__patient {
  margin-left: 20px;
}

.menu__account .header__menu-item .name__patient {
  font-size: 15px;
  color: var(--color-title);
  margin-bottom: 2px;
  font-weight: 600;
}

.menu__account .header__menu-item .role__user {
  color: #757575;
  font-size: 14px;
}

.menu__account .header__menu-item .img__patient {
  object-fit: cover;
  width: 44px;
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.menu__account .menu__item {
  font-size: 14px;
  border-top: 1px solid #f0f0f0;
  transition: all 0.3s linear;
}

.menu__account .menu__item .nav__link {
  text-decoration: none;
  color: #000;
  width: 100%;
}

.menu__account .menu__item:hover {
  letter-spacing: 1px;
  padding-left: 20px;
  background-color: initial;
}

.menu__account .menu__item:hover .nav__link {
  color: var(--secondary-color);
}

.header__nav__avatar .header__container__button {
  display: flex;
}

.header__nav__avatar .header__container__button a {
  text-decoration: none;
}

.header__nav__avatar > .header__container__button .button__auth {
  font-size: 14px;
  text-transform: capitalize;
}

.header__nav__avatar > .header__container__button .button_register {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  color: var(--color-title);
  box-shadow: inset 0 0 0 0 var(--primary-color);
  transition: 0.7s;
  margin-right: 10px;
}

.header__nav__avatar .header__container__button .button_register:hover {
  color: #ffffff;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: inset 0 0 0 50px var(--primary-color);
  /* transition: all 0.7s; */
}

.header__nav__avatar .header__container__button .button_login {
  border: 1px solid var(--primary-color);
  box-shadow: inset 0 0 0 0 #ffffff;
}

.header__nav__avatar .header__container__button .button_login:hover {
  color: var(--primary-color);
  background-color: #ffffff;
  box-shadow: inset 0 0 0 50px #ffffff;
}
