.book__appointment {
  padding: 100px 70px;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: calc(100vh - 75px);
  margin-top: 75px;
}

.book__appointment > .box__personal__infor.container__form__book {
  flex: 1;
  margin-right: 46px;
}

.container__form__book {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgb(32 33 36 / 28%) 0px 1px 6px;
  overflow: hidden;
}

.container__form__book .title__box {
  padding: 30px 40px 28px 40px;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 20px;
}

.container__form__book .inner__box {
  padding: 30px 40px 40px 40px;
}

.container__form__book .container__switch {
  margin-bottom: 20px;
}

.container__form__book .container__switch .container__switch-customize {
  display: flex;
  align-items: center;
}

.container__form__book .container__switch .container__switch-customize .title {
  font-size: 16px;
  color: #2b4a47;
  font-weight: 600;
  margin-right: 20px;
}

.container__form__book .container__switch .container__switch-customize .switch {
  overflow: inherit;
}

.container__form__book .container__switch .text__notification {
  color: #d32f2f;
  font-size: 12px;
}

.container__form__book .label__input {
  display: block;
  font-size: 16px;
  color: #2b4a47;
  font-weight: 600;
  margin-bottom: 8px;
}

.form__control__label span {
  font-size: 14px;
}

.container__form__book .label__input .sign__required {
  color: red;
}

.container__form__book .container__input {
  margin-bottom: 20px;
}

.container__form__book .text__field input {
  padding: 12px 14px;
}

.container__form__book .text__field.phone__input .img__flag {
  width: 30px;
  height: 20px;
}

.container__form__book .text__field p {
  margin-left: 0px;
}

.container__form__book
  .text__field
  input[type='number']::-webkit-inner-spin-button,
.container__form__book
  .text__field
  input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container__form__book.booking__summary {
  width: 36%;
}

.booking__summary .information__summary {
  border-bottom: 1px solid #ccc;
}

.booking__summary .information__summary ul li {
  font-size: 15px;
  margin-bottom: 10px;
}

.booking__summary .information__summary ul li .title__information {
  display: inline-block;
  font-weight: 600;
  color: #2b4a47;
}

.booking__summary .value {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  float: right;
}

.booking__summary .information__price {
  padding: 20px 0px;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
  color: #2b4a47;
}

.booking__summary .information__price > div:first-child {
  margin-bottom: 15px;
}

.booking__summary .container__total__price {
  padding: 20px 0px;
}

.booking__summary .container__total__price h3 {
  display: inline;
}

.booking__summary .container__total__price .total__price {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}

.booking__summary .payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking__summary .payment h3 {
  display: inline;
}

.booking__summary .payment span {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
}
